argh==0.26.2
certifi==2018.11.29
chainer==5.2.0
chainercv==0.12.0
cupy-cuda80==5.2.0
cycler==0.10.0
Cython==0.29.5
fastrlock==0.4
filelock==3.0.10
kiwisolver==1.0.1
matplotlib==3.0.2
mkl-fft==1.0.10
mkl-random==1.0.2
numpy==1.16.1
pathtools==0.1.2
Pillow==5.4.1
pip==19.0.3
protobuf==3.6.1
pycocotools==2.0
pyparsing==2.3.1
python-dateutil==2.8.0
PyYAML==3.13
scipy==1.2.1
setuptools==39.0.1
six==1.12.0
tqdm==4.31.1
watchdog==0.9.0
wheel==0.32.3
wincertstore==0.2